uwgooglecal/php/auth
uwgooglecal/php/vendor

uwgooglecal/node-old/node_modules

uwgooglecal/node-app/node_modules
uwgooglecal/node-app/bin
uwgooglecal/node-app/data
uwgooglecal/node-app/npm-debug.log
uwgooglecal/node-app/credentials/