<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>
    <h1><%= result %></h1>
  </body>
</html>
