<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>

	<body class="container">
    <header>
      <% include ../partials/header %>
    </header>
		<h1><%= title %></h1>
		<p>Connect to Google.</p>
		<a href="<%= auth %>">Connect</a>
	</body>
</html>
