<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>

	<body class="container">
    <header>
      <% include ../partials/header %>
    </header>
		<h1><%= user.email %></h1>
		<p>Welcome!</p>
    <p>Email: <%= user.email %></p>
    <p>Password: <%= user.password %></p>
    <% if (typeof user.googleauth == 'undefined') { %>
    <a href="go">Connect to Google</a>
    <% } else { %>
    <a href="classes">View Classes</a>
    <% } %>
	</body>
</html>
