<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>

	<body class="container">
    <header>
      <% include ../partials/header %>
    </header>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %>. Click here to get started:</p>
		<a href="login">Go</a>
	</body>
</html>
