<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>

	<body class="container">
    <header>
      <% include ../partials/header %>
    </header>
		<h1><%= title %></h1>
		<p>Sign up.</p>
    <form id="formSignup" name="signup" method="post" action="/signup">
      <input id="inputEmail" type="text" placeholder="Email" name="email" required>
      <input id="inputPassword" type="password" placeholder="Password" name="password" required>
      <button id="btnSubmit" type="submit">Signup</button>
    </form>
	</body>
</html>
